.logo{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #8C0406;
}
.main{
    background-color: #fff;
    width: 75%;
    transition: width 5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 10;
    transition: left 0.5s ease;
}
.main.open {
    left: 0; /* Slide into view */
}
.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    padding-bottom: 10px;
    gap: 20px;
    p,h4{
        margin: 0;
    }
    h4{font-size: 18px;}
    p{font-size: 14px;}
}

ion-list{
    padding: 0 10px;
}
ion-item{
    border-radius: 10px;
    margin-top: 20px;
}
.notifications{
    h5{
        font-size: 16px;
        margin: 0;
        margin-top: 20px;
    }

    ion-item{
        --background: #00000009;
        margin-bottom: 10px;
        margin-top: 0;
        color: #868686;
    }
}