<div class="main" [class.open]="isOpen">
  <div class="flex-item">
    <div class="logo">
      <ion-img
        [src]="logo"
        alt="logo"
      ></ion-img>
    </div>
    @if(isLoading){
      <div class="identifier">
        <h4><ion-skeleton-text [animated]="true"></ion-skeleton-text></h4>
        <p><ion-skeleton-text [animated]="true"></ion-skeleton-text></p>
      </div>
    }
    @if(!isLoading){
      <div class="identifier">
        <h4>{{user.email}}</h4>
        <p>{{user.role}}</p>
      </div>
    }
  </div>
  <div class="profile">
    <ion-list lines="none">
      <ion-item button routerLink="/">
        <i class="fa-regular fa-user" slot="start"></i>
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
<div class="overlay" [class.show]="isOpen" (click)="sendState()"></div>
