<div class="main" [class.open]="isOpen">
  <div class="flex-item">
    <div class="logo">
      <ion-img
        [src]="logo"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
    </div>
    <div class="identifier">
      <h4>david&#64;gmail.com</h4>
      <p>Student</p>
    </div>
  </div>
  <div class="profile">
    <ion-list lines="none">
      <ion-item button>
        <i class="fa-regular fa-user" slot="start"></i>
        <ion-label>User profile</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="notifications">
    <h5 class="ion-padding">Notifications</h5>
    <ion-list lines="none">
      <ion-item button>
        <ion-label>Airplane Mode</ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>Wi-Fi</ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>Bluetooth</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
<div class="overlay" [class.show]="isOpen" (click)="sendState()"></div>
