<ion-content [fullscreen]="true">
  @if (formVisible) {
    <button type="button" class="backbtn" (click)="hideForm()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  }
  <div class="main">
    <ion-img [src]="logo" alt="logo"></ion-img>
    <p class="poppins-thin">
      Discover new things and<br> Broaden your<br> knowledge
    </p>
    <ion-button expand="block" shape="round" class="poppins-extralight signin-btn" (click)="showForm()">Sign In</ion-button>
    <a class="poppins-thin" routerLink="signup">Create an account</a>
  </div>
  <div class="form-shape" [class.show]="!formVisible">
    <div class="form">
      <h1 class="poppins-extrabold">Sign in</h1>
      <p class="poppins-regular">More courses waiting for you</p>
      <form [formGroup]="LogForm" (ngSubmit)="Login()">
        <ion-list>
          <input id="email" name="email" formControlName="email" type="text" placeholder="username" required/>
          <input formControlName="password" required type="password" placeholder="password"/>
        </ion-list>
        <div class="flex-text">
          <ion-checkbox labelPlacement="end">Remember me</ion-checkbox>
          <a routerLink="forget-password">Forgot Password</a>
        </div>
        <ion-button expand="block" type="submit" shape="round" class="poppins-extralight" (click)="hideForm()">Login</ion-button>
      </form>
      <div class="flex-text">
          <p>Don't have an account yet?</p>
          <a routerLink="signup">Sign up</a>
      </div>
    </div>
  </div>
</ion-content>
