<ion-content [fullscreen]="true">
  <app-header></app-header>
  <h2>Choose the subject</h2>
  @if (hasLoaded) {
    <div class="cards subjects">
      @for (subject of subjects; track $index) {
        <div class="card" [routerLink]="['subject', subject.id]">
          <i class="fas" [class]="subjectsIcons.get(subject.name) ? subjectsIcons.get(subject.name) : ''"></i>
          <p>{{subject.name}}</p>
        </div>
      }
    </div>
  }
  @else {
    <div class="cards subjects">
      <div class="card">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </div>
      <div class="card">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </div>
      <div class="card">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </div>
      <div class="card">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </div>
      <div class="card">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </div>
      <div class="card">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p><ion-skeleton-text animated></ion-skeleton-text></p>
      </div>
    </div>
  }
</ion-content>
