<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Past Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Choose the subject</h2>
  <div class="cards">
    <div class="card" routerLink="subject/1">
      <p>Maths</p>
    </div>
    <div class="card">
      <p>Maths</p>
    </div>
    <div class="card">
      <p>Maths</p>
    </div>
    <div class="card">
      <p>Maths</p>
    </div>
    <div class="card">
      <p>Maths</p>
    </div>
    <div class="card">
      <p>Maths</p>
    </div>
  </div>
</ion-content>
