<ion-content [fullscreen]="true">
  <header class="normal">
    <app-header></app-header>
    <div class="flex-item">
      <div class="flex-item">
        <h1>Dec 2024</h1>
        <i class="fa-solid fa-calendar"></i>
      </div>
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
    <div class="dates flex-item">
      <div class="date">
        <h2>15</h2>
        <p>mon</p>
      </div>
      <div class="date">
        <h2>15</h2>
        <p>mon</p>
      </div>
      <div class="date">
        <h2>15</h2>
        <p>mon</p>
      </div>
    </div>
  </header>

  <main>
    <div class="flex-item">
      <div class="markers">
        <div class="marker" #cardmarker *ngFor="let movie of movies">
          <p>hey</p>
          <p>yo</p>
        </div>
      </div>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" #card *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
      </div>
    </div>
  </main>
</ion-content>
