<ion-content [fullscreen]="true">
  <header>
    <div class="flex-item">
      <div>
        <i class="fa-solid fa-calendar"></i>
        <h1>Dec 2024</h1>
      </div>
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
    <div class="dates">
      <div class="date">
        <h2>15</h2>
        <p>mon</p>
      </div>
      <div class="date">
        <h2>15</h2>
        <p>mon</p>
      </div>
      <div class="date">
        <h2>15</h2>
        <p>mon</p>
      </div>
    </div>
  </header>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
  </div>
  
  
</ion-content>
