<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="content-container">
    <h2 class="title">QR Scan</h2>

    <div class="scan-container">
      <ion-button expand="block" color="primary" (click)="scanBarCode()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Scan QR Code
      </ion-button>

      <!-- <div class="scan-result" *ngIf="scannedCode">
        <h2>Scanned Code:</h2>
        <p>{{ scannedCode }}</p>
      </div> -->
    </div>
  </div>
</ion-content>
