<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pastquestions"></ion-back-button>
    </ion-buttons>
    <ion-title>pastquestionslist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="search-container">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()" class="search"></ion-searchbar>
    <ion-buttons class="filters ion-padding">
      <div>
        <ion-button [class.active]="recentToggle" (click)="sortByRecent()"  style="text-transform: none;" fill="outline" shape="round">Recent</ion-button>
        <ion-button [class.active]="oldestToggle" (click)="sortByOldest()"  style="text-transform: none;" fill="outline" shape="round">Oldest</ion-button>
      </div>
      <ion-buttons>
        <ion-button [class.active]="descToggle" (click)="sortByNameDesc()"  fill="outline" shape="round">
          <i class="fa-solid fa-arrow-down-a-z"></i>
        </ion-button>
        <ion-button [class.active]="ascToggle" (click)="sortByNameAsc()" fill="outline" shape="round">
          <i class="fa-solid fa-arrow-up-a-z"></i>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </div>
  <div class="shadow"></div>
  <ion-list lines="none">
    @if (isLoading) {
      <ion-item button>
        <div class="image" style="opacity: 0.5;">
        </div>
        <ion-label>
          <h6>
            <ion-skeleton-text animated></ion-skeleton-text>
          </h6>
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    }
    @if (!isLoading) {
      @for (question of filteredQuestions; track $index) {
        <ion-item [ngStyle]="{ 'margin-bottom': $index === filteredQuestions.length - 1 ? '100px' : '10px' }" button>
          <div class="image">
              <img src="/assets/icon/document.svg" alt="">
          </div>
          <ion-label>
            <h6>{{question.title}}</h6>
            <p>{{question.createdBy}}</p>
          </ion-label>
          <div class="flex-item">
            <ion-button fill="clear" style="font-size: 15px;">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" style="font-size: 15px;">
              <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      }
    }
</ion-list>
</ion-content>
