<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <i class="fa-solid fa-house fa-2xl"></i>
    </ion-tab-button>
    <ion-tab-button tab="timetable">
      <i class="fa-solid fa-calendar-days fa-2xl"></i>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <i class="fa-solid fa-location-arrow fa-2xl"></i>
    </ion-tab-button>
    <ion-tab-button tab="pastquestions">
      <i class="fa-solid fa-clipboard-question fa-2xl"></i>
    </ion-tab-button>
    <!-- <ion-tab-button tab="settings">
      <i class="fa-solid fa-gear fa-2xl"></i>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
