<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="map-container">
    <svg id="custom-map" xmlns="http://www.w3.org/2000/svg" width="5121" height="2911" viewBox="0 0 5121 2911">
      <g id="Floor3" transform="translate(-2436 507)">
        <path id="Floor3-2" data-name="Floor3" d="M4935,2845v-.008q-.5.008-1,.008H3634.312c.036-2.248,3.971-244.266,6.961-487.967,1.758-143.407,2.856-259.793,3.263-345.926.509-107.6-.067-167.89-1.713-179.192-2.186-15.009-12.717-25.932-31.3-32.465a120,120,0,0,0-25.131-5.555,200.338,200.338,0,0,0-23.978-1.362,215.024,215.024,0,0,0-22.352,1.095H53.4a68.308,68.308,0,0,1-22.091-3.385,46.327,46.327,0,0,1-16.828-9.891,43.112,43.112,0,0,1-10.72-16A59.632,59.632,0,0,1,0,1742.639V-7A59,59,0,0,1,59-66H4326a59,59,0,0,1,59,59V0h3V591a55.911,55.911,0,0,0,16.4,39.6,56.018,56.018,0,0,0,17.8,12A55.653,55.653,0,0,0,4444,647h618a59,59,0,0,1,59,59V2786a59,59,0,0,1-59,59Z" transform="translate(2436 -441)" fill="#f5f5f5"/>
        <path id="path" d="M6150.267-202V382.479H3355.619V244.787H3131.231V382.479H2574.253V558.838l3734.105,12.334V2231.867h934.482V1196.775h-689.7V305.607H6297.182v76.873h-42.925V-202Z" fill="#dcdcdc"/>
        <g id="stair2" transform="translate(3405.927 3307.983) rotate(-90)">
          <path id="Tracé_2" data-name="Tracé 2" d="M3109.412-202V-69.546H3204.5v289.7h154.256V-202Z" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_3" data-name="Tracé 3" d="M3133.826-202V-69.731h24.045V-202Z" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_3-2" data-name="Tracé 3" d="M3133.826-202V-69.731h24.045V-202Z" transform="translate(3307.983 -3359.927) rotate(90)" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_4" data-name="Tracé 4" d="M3358.756-202,3203.927-67.881l154.829-80.644v54.009l-154.829,34.4h154.829v23.675H3203.927v23.675h154.829v22.2H3203.927V34.588h154.829V56.414H3203.927V82.031h154.829" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_3-3" data-name="Tracé 3" d="M3133.826-202V-47.171h24.045V-202Z" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_3-4" data-name="Tracé 3" d="M3133.826-202V-47.171h24.045V-202Z" transform="translate(46)" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_3-5" data-name="Tracé 3" d="M3133.826-202V-47.171h24.045V-202Z" transform="translate(-46)" fill="none" stroke="#707070" stroke-width="3"/>
          <path id="Tracé_5" data-name="Tracé 5" d="M3203.927-69.731l62.836-131.623" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-width="3"/>
        </g>
        <g id="stair1" transform="translate(6600.317 3334.326) rotate(-90)">
          <path id="Tracé_2-2" data-name="Tracé 2" d="M3109.412-202V-69.546H3204.5v289.7h154.256V-202Z" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_3-6" data-name="Tracé 3" d="M3133.826-202V-69.731h24.045V-202Z" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_3-7" data-name="Tracé 3" d="M3133.826-202V-69.731h24.045V-202Z" transform="translate(3307.983 -3359.927) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_4-2" data-name="Tracé 4" d="M3358.756-202,3203.927-67.881l154.829-80.644v54.009l-154.829,34.4h154.829v23.675H3203.927v23.675h154.829v22.2H3203.927V34.588h154.829V56.414H3203.927V82.031h154.829" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_3-8" data-name="Tracé 3" d="M3133.826-202V-47.171h24.045V-202Z" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_3-9" data-name="Tracé 3" d="M3133.826-202V-47.171h24.045V-202Z" transform="translate(46)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_3-10" data-name="Tracé 3" d="M3133.826-202V-47.171h24.045V-202Z" transform="translate(-46)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
          <path id="Tracé_5-2" data-name="Tracé 5" d="M3203.927-69.731l62.836-131.623" transform="translate(3307.983 -3405.927) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="3"/>
        </g>
        <line id="wall" y1="1122" transform="translate(6220.5 1109.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="16"/>
        <line id="wall-2" data-name="wall" y1="563" transform="translate(6276.5 -201.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="16"/>
        <line id="wall-3" data-name="wall" y1="1029" x2="5.5" transform="translate(7334.5 1202.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="16"/>
        <line id="wall-4" data-name="wall" y1="563" transform="translate(6595 -202)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="16"/>
        <rect id="zone" width="3647" height="494" transform="translate(2574 586)" fill="#ebebeb"/>
        <g id="wall-5" data-name="wall">
          <line id="wall-6" data-name="wall" y1="729" x2="1" transform="translate(2529 351)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="16"/>
          <path id="window" d="M2531,385.883v0Z" transform="translate(-1 24)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="18"/>
        </g>
        <g id="Room2">
          <g id="Rectangle_3" data-name="Rectangle 3" transform="translate(4505 -202)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="540" height="517" rx="20" stroke="none"/>
            <rect x="5" y="5" width="530" height="507" rx="15" fill="none"/>
          </g>
          <path id="Tracé_12" data-name="Tracé 12" d="M2878.706,385.883v0Z" transform="translate(4341.414 3188.292) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_2" data-name="room 2" transform="translate(4684 81)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 2</tspan></text>
        </g>
        <g id="Room1">
          <g id="Rectangle_4" data-name="Rectangle 4" transform="translate(5045 -202)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="745" height="517" rx="20" stroke="none"/>
            <rect x="5" y="5" width="735" height="507" rx="15" fill="none"/>
          </g>
          <path id="Tracé_13" data-name="Tracé 13" d="M2878.706,385.883v0Z" transform="translate(4983.914 3188.706) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_1" data-name="room 1" transform="translate(5329 81)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 1</tspan></text>
        </g>
        <g id="Room3">
          <g id="Rectangle_2" data-name="Rectangle 2" transform="translate(3965 -202)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="540" height="517" rx="20" stroke="none"/>
            <rect x="5" y="5" width="530" height="507" rx="15" fill="none"/>
          </g>
          <path id="Tracé_11" data-name="Tracé 11" d="M2878.706,385.883v0Z" transform="translate(3801.414 3188.292) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_3" data-name="room 3" transform="translate(4146 81)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 3</tspan></text>
        </g>
        <g id="Room4">
          <g id="Rectangle_1" data-name="Rectangle 1" transform="translate(3425 -202)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="540" height="517" rx="20" stroke="none"/>
            <rect x="5" y="5" width="530" height="507" rx="15" fill="none"/>
          </g>
          <path id="Tracé_10" data-name="Tracé 10" d="M2878.706,385.883v0Z" transform="translate(3261.414 3188.292) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_4" data-name="room 4" transform="translate(3606 81)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 4</tspan></text>
        </g>
        <g id="Room5">
          <g id="room" transform="translate(2523 -202)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="540" height="517" rx="20" stroke="none"/>
            <rect x="5" y="5" width="530" height="507" rx="15" fill="none"/>
          </g>
          <path id="window-2" data-name="window" d="M2878.706,385.883v0Z" transform="translate(2458.12 3188.292) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <path id="window-3" data-name="window" d="M2878.706,385.883v0Z" transform="translate(2188.37 3188.292) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_5" data-name="room 5" transform="translate(2704 81)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 5</tspan></text>
        </g>
        <g id="Room6">
          <g id="Rectangle_9" data-name="Rectangle 9" transform="translate(6595 411)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="745" height="745" rx="20" stroke="none"/>
            <rect x="5" y="5" width="735" height="735" rx="15" fill="none"/>
          </g>
          <text id="room_6" data-name="room 6" transform="translate(6879 808)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 6</tspan></text>
        </g>
        <text id="Floor_3" data-name="Floor 3" transform="translate(4505 -361)" font-size="85" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">Floor 3</tspan></text>
        <g id="o">
          <g id="Rectangle_5" data-name="Rectangle 5" transform="translate(5790 178)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="274" height="137" rx="20" stroke="none"/>
            <rect x="5" y="5" width="264" height="127" rx="15" fill="none"/>
          </g>
          <text id="o-2" data-name="o" transform="translate(5910 271)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">o</tspan></text>
        </g>
        <g id="tm">
          <g id="Rectangle_6" data-name="Rectangle 6" transform="translate(5790 -12)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="274" height="190" rx="20" stroke="none"/>
            <rect x="5" y="5" width="264" height="180" rx="15" fill="none"/>
          </g>
          <text id="tm-2" data-name="tm" transform="translate(5892 107)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">tm</tspan></text>
        </g>
        <g id="tf">
          <g id="Rectangle_7" data-name="Rectangle 7" transform="translate(5790 -202)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="274" height="190" rx="20" stroke="none"/>
            <rect x="5" y="5" width="264" height="180" rx="15" fill="none"/>
          </g>
          <text id="tf-2" data-name="tf" transform="translate(5907 -83)" font-size="57" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">tf</tspan></text>
        </g>
        <line id="wall-7" data-name="wall" x2="3691" transform="translate(2529.5 1109.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="16"/>
      </g>
    </svg>
    
  </div>
</ion-content>
