.map-container {
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Required for proper positioning */
    overflow: scroll;
    // touch-action: none; 
}

// svg {
//     display: block;
//     width: 200%; 
//     height: 100%;
//     object-fit: cover; 
//     transform: rotate(90deg);
// }

ion-select {
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #f9f9f9;
  --border-radius: 8px;
  --icon-color: #666;
  --color: #333;
}

ion-select::part(icon) {
  font-size: 1.2em;
  color: var(--ion-color-primary);
}

  
#custom-map {
    width: 200%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px 20px 20px 130px;
    transform: rotate(90deg);
    position: absolute;
    top: 10%;
    left: -50%;
}

.specialchooser{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    display: flex;
}

#position{
    position: absolute;
    top: 258px;
    left: 250px;
    z-index: 1;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00d9ff;
    border-radius: 50%;
}
#position::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #00d9ff;
    border-radius: 50%;
    animation: pulsate-repeat 1.5s infinite ease-in-out;
}

/* Pulsating and repeating animation */
@keyframes pulsate-repeat {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.search{
    position: fixed;
    z-index: 5;
    width: 58%;
    top: 12px;
    left: 16%;
    background-color: transparent;
    padding: 0px 0px;
    --border-radius: 50px;
    --box-shadow: none;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 8%;
    right: 0;
    z-index: -1;
  }