<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="map-container">
    <svg id="custom-map" xmlns="http://www.w3.org/2000/svg" width="1326.979" height="754.313" viewBox="0 0 1326.979 754.313">
      <g id="Floor3" transform="translate(-2436 507)">
        <path id="Floor3-2" data-name="Floor3" d="M941.74,754.313c.007-.451,1.021-62.622,1.8-126.445.717-58.414,1.368-129.439.4-136.07-.566-3.89-3.295-6.72-8.111-8.413a40.455,40.455,0,0,0-12.725-1.793,55.362,55.362,0,0,0-5.792.284H13.838c-4.19,0-7.678-1.19-10.085-3.441A11.169,11.169,0,0,1,.975,474.29,15.444,15.444,0,0,1,0,468.663V21A21,21,0,0,1,21,0H1115.262a21.007,21.007,0,0,1,20.64,17.1h13.91a13.018,13.018,0,0,0-12.771,13V164.757a20.023,20.023,0,0,0,20,20h123.77a13.015,13.015,0,0,0,13-13v15.389a48.218,48.218,0,0,1,33.169,45.807V706.116a48.2,48.2,0,0,1-48.2,48.2h0l-.259,0ZM1293.808,32.142A15.305,15.305,0,0,0,1278.522,17.1h2.288a13,13,0,0,1,13,13v2.039Z" transform="translate(2436 -507)" fill="#f5f5f5"/>
        <path id="path" d="M3500.887-202V-50.547H2776.725v-35.68H2718.58v35.68H2574.253v45.7l967.6,3.2V428.676H3784V160.457H3605.283V-70.466h-66.326v19.92h-11.123V-202Z" transform="translate(-102.428 -225.967)" fill="#dcdcdc"/>
        <g id="stair2" transform="translate(2610.498 -318.576) rotate(-90)">
          <path id="Tracé_2" data-name="Tracé 2" d="M0,0V34.322H24.64v75.069H64.611V0Z" transform="translate(109.391) rotate(90)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_3" data-name="Tracé 3" d="M0,0V34.274H6.231V0Z" transform="translate(109.391 6.326) rotate(90)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_3-2" data-name="Tracé 3" d="M0,0V34.274H6.231V0Z" transform="translate(109.391 18.246) rotate(90)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_4" data-name="Tracé 4" d="M40.12,0,0,34.753l40.12-20.9v14L0,36.766H40.12V42.9H0v6.135H40.12v5.751H0v6.518H40.12v5.656H0V73.6H40.12" transform="translate(109.391 24.492) rotate(90)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_3-3" data-name="Tracé 3" d="M0,0V40.12H6.231V0Z" transform="translate(11.92 24.491)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_3-4" data-name="Tracé 3" d="M0,0V40.12H6.231V0Z" transform="translate(23.84 24.491)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_3-5" data-name="Tracé 3" d="M0,0V40.12H6.231V0Z" transform="translate(0 24.491)" fill="none" stroke="#707070" stroke-width="2"/>
          <path id="Tracé_5" data-name="Tracé 5" d="M0,34.107,16.282,0" transform="translate(109.224 24.492) rotate(90)" fill="none" stroke="#707070" stroke-width="2"/>
        </g>
        <g id="stair1" transform="translate(3438.244 -311.75) rotate(-90)">
          <path id="Tracé_2-2" data-name="Tracé 2" d="M0,0V34.322H24.64v75.069H64.611V0Z" transform="translate(109.391) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_3-6" data-name="Tracé 3" d="M0,0V34.274H6.231V0Z" transform="translate(109.391 6.326) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_3-7" data-name="Tracé 3" d="M0,0V34.274H6.231V0Z" transform="translate(109.391 18.246) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_4-2" data-name="Tracé 4" d="M40.12,0,0,34.753l40.12-20.9v14L0,36.766H40.12V42.9H0v6.135H40.12v5.751H0v6.518H40.12v5.656H0V73.6H40.12" transform="translate(109.391 24.492) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_3-8" data-name="Tracé 3" d="M0,0V40.12H6.231V0Z" transform="translate(11.92 24.491)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_3-9" data-name="Tracé 3" d="M0,0V40.12H6.231V0Z" transform="translate(23.84 24.491)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_3-10" data-name="Tracé 3" d="M0,0V40.12H6.231V0Z" transform="translate(0 24.491)" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Tracé_5-2" data-name="Tracé 5" d="M0,34.107,16.282,0" transform="translate(109.224 24.492) rotate(90)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
        </g>
        <line id="wall" y1="290.738" transform="translate(3416.658 -88.125)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="5"/>
        <line id="wall-2" data-name="wall" y1="145.887" transform="translate(3431.17 -427.838)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="5"/>
        <line id="wall-3" data-name="wall" y1="266.639" x2="1.425" transform="translate(3705.323 -64.026)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="5"/>
        <line id="wall-4" data-name="wall" y1="146" transform="translate(3514 -427.688)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="5"/>
        <rect id="zone" width="945" height="128" transform="translate(2472 -223.688)" fill="#ebebeb"/>
        <g id="wall-5" data-name="wall" transform="translate(2460.312 -284.42)">
          <line id="wall-6" data-name="wall" y1="189" transform="translate(-0.312 -0.268)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="5"/>
          <path id="window" d="M2531,385.883v0Z" transform="translate(-2530.954 -370.876)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="7"/>
        </g>
        <g id="Room2" transform="translate(2972.438 -427.941)">
          <g id="Rectangle_3" data-name="Rectangle 3" transform="translate(-0.438 0.253)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="6">
            <rect width="140" height="134" rx="20" stroke="none"/>
            <rect x="3" y="3" width="134" height="128" rx="17" fill="none"/>
          </g>
          <path id="Tracé_12" data-name="Tracé 12" d="M0,0V0Z" transform="translate(57.201 131.539) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="7"/>
          <text id="room_2" data-name="room 2" transform="translate(46.562 72.253)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 2</tspan></text>
        </g>
        <g id="Room1" transform="translate(3112.038 -427.941)">
          <g id="Rectangle_4" data-name="Rectangle 4" transform="translate(-0.038 0.253)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="6">
            <rect width="193" height="134" rx="20" stroke="none"/>
            <rect x="3" y="3" width="187" height="128" rx="17" fill="none"/>
          </g>
          <path id="Tracé_13" data-name="Tracé 13" d="M0,0V0Z" transform="translate(84.101 131.646) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="7"/>
          <text id="room_1" data-name="room 1" transform="translate(73.962 72.253)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 1</tspan></text>
        </g>
        <g id="Room3" transform="translate(2832.055 -427.941)">
          <g id="Rectangle_2" data-name="Rectangle 2" transform="translate(-0.055 0.253)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="6">
            <rect width="140" height="134" rx="20" stroke="none"/>
            <rect x="3" y="3" width="134" height="128" rx="17" fill="none"/>
          </g>
          <path id="Tracé_11" data-name="Tracé 11" d="M0,0V0Z" transform="translate(57.75 132.539) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_3" data-name="room 3" transform="translate(46.945 72.253)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 3</tspan></text>
        </g>
        <g id="Room4" transform="translate(2692.455 -427.941)">
          <g id="Rectangle_1" data-name="Rectangle 1" transform="translate(-0.455 0.253)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="140" height="134" rx="20" stroke="none"/>
            <rect x="5" y="5" width="130" height="124" rx="15" fill="none"/>
          </g>
          <path id="Tracé_10" data-name="Tracé 10" d="M0,0V0Z" transform="translate(57.422 132.539) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="11"/>
          <text id="room_4" data-name="room 4" transform="translate(47.545 72.253)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 4</tspan></text>
        </g>
        <g id="Room5" transform="translate(2458.744 -427.941)">
          <g id="room" transform="translate(0.256 0.253)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="5">
            <rect width="139" height="134" rx="20" stroke="none"/>
            <rect x="2.5" y="2.5" width="134" height="129" rx="17.5" fill="none"/>
          </g>
          <path id="window-2" data-name="window" d="M0,0V0Z" transform="translate(82.98 131.539) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"/>
          <path id="window-3" data-name="window" d="M0,0V0Z" transform="translate(26.081 131.539) rotate(-90)" fill="none" stroke="#ffdfdf" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"/>
          <text id="room_5" data-name="room 5" transform="translate(47.256 72.253)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 5</tspan></text>
        </g>
        <g id="Room6" transform="translate(3513.582 -268.735)">
          <g id="Rectangle_9" data-name="Rectangle 9" transform="translate(0.418 0.047)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="5">
            <rect width="193" height="193" rx="20" stroke="none"/>
            <rect x="2.5" y="2.5" width="188" height="188" rx="17.5" fill="none"/>
          </g>
          <text id="room_6" data-name="room 6" transform="translate(73.418 101.047)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">room 6</tspan></text>
        </g>
        <text id="Floor_3" data-name="Floor 3" transform="translate(2972 -469.688)" font-size="21" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">Floor 3</tspan></text>
        <g id="o" transform="translate(3304.967 -329.123)">
          <g id="Rectangle_5" data-name="Rectangle 5" transform="translate(0.033 0.436)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="71" height="35" rx="17.5" stroke="none"/>
            <rect x="5" y="5" width="61" height="25" rx="12.5" fill="none"/>
          </g>
          <text id="o-2" data-name="o" transform="translate(31.033 22.436)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">o</tspan></text>
        </g>
        <g id="tm" transform="translate(3304.967 -378.532)">
          <g id="Rectangle_6" data-name="Rectangle 6" transform="translate(0.033 -0.155)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="71" height="50" rx="20" stroke="none"/>
            <rect x="5" y="5" width="61" height="40" rx="15" fill="none"/>
          </g>
          <text id="tm-2" data-name="tm" transform="translate(27.033 29.845)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">tm</tspan></text>
        </g>
        <g id="tf" transform="translate(3304.967 -427.941)">
          <g id="Rectangle_7" data-name="Rectangle 7" transform="translate(0.033 0.253)" fill="#fff" stroke="#707070" stroke-linecap="round" stroke-width="10">
            <rect width="71" height="49" rx="20" stroke="none"/>
            <rect x="5" y="5" width="61" height="39" rx="15" fill="none"/>
          </g>
          <text id="tf-2" data-name="tf" transform="translate(31.033 30.253)" font-size="14" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">tf</tspan></text>
        </g>
        <line id="wall-7" data-name="wall" x2="956.43" transform="translate(2460.229 -88.125)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="5"/>
      </g>
    </svg>
    
  </div>
</ion-content>
