.map-container {
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Required for proper positioning */
    overflow: scroll;
    // touch-action: none; 
}

// svg {
//     display: block;
//     width: 200%; 
//     height: 100%;
//     object-fit: cover; 
//     transform: rotate(90deg);
// }
  
#custom-map {
    width: 200%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px 20px 20px 130px;
    transform: rotate(90deg);
    position: absolute;
    top: 10%;
    left: -50%;
}
