<ion-content>
    <header class="ion-padding">
        <div class="flex-item">
            <div class="menu" (click)="showMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            @if (isLoading) {
                <div class="flex-item">
                    <div class="image">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                    <div class="image">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                </div>
            }
            @if (!isLoading) {
                <div class="flex-item">
                    <div class="image">
                        <img src="/assets/icon/bell.svg" alt="">
                    </div>
                    <div class="image">
                        <img [src]="'/assets/icon/'+user.role+'.svg'" alt="">
                    </div>
                </div>
            }
        </div>
        @if(!isLoading){
        <h1 class="poppins-medium">Hello {{user.name}}!</h1>
        }
        @if(isLoading){
            <h1 class="poppins-medium">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </h1>
        }
        <p>Ready for today's courses?</p>
        <ion-searchbar class="search" placeholder="Search routes"></ion-searchbar>
        <div class="header-img">
            <img src="/assets/img/header.svg" alt="" class="header-img">
        </div>
    </header>
    <header class="shadow"></header>

    <div class="routes ion-padding">
        @if (isLoading) {
            <div class="route">
                <div class="flex-item">
                  <ion-skeleton-text class="skeleton-icon" [animated]="true"></ion-skeleton-text>
                  <ion-skeleton-text class="skeleton-text" [animated]="true"></ion-skeleton-text>
                </div>
                <div class="content">
                  <div>
                    <ion-skeleton-text class="skeleton-title" [animated]="true"></ion-skeleton-text>
                    <ion-skeleton-text class="skeleton-text" [animated]="true"></ion-skeleton-text>
                  </div>
                  <ion-skeleton-text class="skeleton-badge" [animated]="true"></ion-skeleton-text>
                </div>
            </div>
        }
        @if (!isLoading) {
            <div class="route">
                <div class="flex-item">
                    <div class="icon"></div>
                    <p>Floor 1</p>
                </div>
                <div class="content">
                    <div>
                        <p class="title">Labo Telecom/isi</p>
                        <p>Building I</p>
                    </div>
                    <p class="badge">5 mins</p>
                </div>
            </div>
            <div class="route">
                <div class="flex-item">
                    <div class="icon"></div>
                    <p>Floor 1</p>
                </div>
                <div class="content">
                    <div>
                        <p class="title">Labo Telecom/isi</p>
                        <p>Building I</p>
                    </div>
                    <p class="badge">5 mins</p>
                </div>
            </div>
            <div class="route">
                <div class="flex-item">
                    <div class="icon"></div>
                    <p>Floor 1</p>
                </div>
                <div class="content">
                    <div>
                        <p class="title">Labo Telecom/isi</p>
                        <p>Building I</p>
                    </div>
                    <p class="badge">5 mins</p>
                </div>
            </div>
        }
    </div>

    <h2 class="ion-padding">Your Schedule</h2>
    <div class="schedule">
        <h3>IT Architecture</h3>
        <p>code UE2ISD</p>
        <p>7h 30mins</p>
        <p>Dr Someone</p>
        <p>online</p>
        <i class="subject-icon fas fa-network-wired"></i>
    </div>
    <div class="questions">
        <div class="flex-item">
            <h2 class="ion-padding">Recent Q&A</h2>
            @if (!isLoading && user.role==="teacher") {
                <ion-button fill="clear" color="primary" (click)="navigateToQuestionForm()">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
            }
            @if (isLoading) {
                <ion-button fill="clear">
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-button>
            }
        </div>
        <ion-list lines="none">
            @if (isLoading) {
                <ion-item button>
                    <div class="image">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                    <ion-label>
                      <h6>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </h6>
                      <p>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </p>
                    </ion-label>
                </ion-item>
                <ion-item button>
                    <div class="image">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                    <ion-label>
                      <h6>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </h6>
                      <p>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </p>
                    </ion-label>
                </ion-item> 
                <ion-item button>
                    <div class="image">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                    <ion-label>
                      <h6>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </h6>
                      <p>
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </p>
                    </ion-label>
                </ion-item>  
            }
            @if (!isLoading) {
                @for (recent of recentQuestions; track $index) {
                    <ion-item [ngStyle]="{ 'margin-bottom': $index === recentQuestions.length - 1 ? '100px' : '10px' }" button>
                        <div class="image">
                            <img src="/assets/icon/document.svg" alt="">
                        </div>
                        <ion-label>
                          <h6>{{recent.title}}</h6>
                          <p>{{recent.createdBy}}</p>
                        </ion-label>
                        <div class="flex-item">
                            <ion-button fill="clear" style="font-size: 15px;">
                                <ion-icon slot="icon-only" name="download-outline"></ion-icon>
                            </ion-button>
                            <ion-button fill="clear" style="font-size: 15px;">
                                <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
                            </ion-button>
                        </div>
                    </ion-item>
                }
            }
        </ion-list>
    </div>
    <app-menu (state)="receivedState($event)"  [isOpen]="show"></app-menu>
</ion-content>