<ion-content>
    <header class="ion-padding">
        <div class="flex-item">
            <div class="menu">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="flex-item">
                <div class="image">
                    <img src="/assets/icon/bell.svg" alt="">
                </div>
                <div class="image">
                    <img src="/assets/icon/student.svg" alt="">
                </div>
            </div>
        </div>
        <h1 class="poppins-medium">Hello David!</h1>
        <p>Ready for today's courses?</p>
        <ion-searchbar class="search" placeholder="Search routes"></ion-searchbar>
        <div class="header-img">
            <img src="/assets/img/header.svg" alt="" class="header-img">
        </div>
    </header>
    <div class="routes ion-padding">
        <div class="route">
            <div class="flex-item">
                <div class="icon"></div>
                <p>Floor 1</p>
            </div>
            <p>Labo Telecom/isi</p>
            <p>Building I</p>
            <p>5 mins</p>
        </div>
        <div class="route">
            <div class="flex-item">
                <div class="icon"></div>
                <p>Floor 1</p>
            </div>
            <p>Labo Telecom/isi</p>
            <p>Building I</p>
            <p>5 mins</p>
        </div>
        <div class="route">
            <div class="flex-item">
                <div class="icon"></div>
                <p>Floor 1</p>
            </div>
            <p>Labo Telecom/isi</p>
            <p>Building I</p>
            <p>5 mins</p>
        </div>
    </div>

    <h2>Your Schedule</h2>
    <div class="schedule">
        <h3>Web Architecture</h3>
        <p>code UE2ISD</p>
        <p>7h 30mins</p>
        <p>Dr Someone</p>
        <p>online</p>
    </div>
    <h2>Recent Q&A</h2>
    <div class="questions">
        <ion-list>
            <ion-item>
              <ion-label>
                <h2>CC1-Advanced Algorithm</h2>
                <p>Dr Someone, Mme Another</p>
              </ion-label>
              <i class="fa-regular fa-bookmark"></i>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>CC1-Advanced Algorithm</h2>
                <p>Dr Someone, Mme Another</p>
              </ion-label>
              <i class="fa-regular fa-bookmark"></i>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>CC1-Advanced Algorithm</h2>
                <p>Dr Someone, Mme Another</p>
              </ion-label>
              <i class="fa-regular fa-bookmark"></i>
            </ion-item>
          </ion-list>
    </div>

</ion-content>