<ion-content>
    <header>
        <div class="flex-item">
            <div class="menu"></div>
            <div>
                <ion-buttons>
                    <ion-button fill="clear" shape="round">
                        <img src="/assets/icon/bell.svg" alt="">
                    </ion-button>
                </ion-buttons>
                <img src="/assets/icon/student.svg" alt="">
            </div>
        </div>
        <h1>Hello David!</h1>
        <p>Ready for today's courses?</p>
    </header>
    <ion-searchbar placeholder="Search routes"></ion-searchbar>
    <div class="routes">
        <div class="route">

        </div>
    </div>
    <h2>Your Schedule</h2>
    <div class="schedule"></div>
    <h2>Recent Q&A</h2>
    <div class="questions">
        <ion-list>
            <ion-item>
              <ion-label>
                <h2>CC1-Advanced Algorithm</h2>
                <p>Dr Someone, Mme Another</p>
              </ion-label>
              <i class="fa-regular fa-bookmark"></i>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>CC1-Advanced Algorithm</h2>
                <p>Dr Someone, Mme Another</p>
              </ion-label>
              <i class="fa-regular fa-bookmark"></i>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2>CC1-Advanced Algorithm</h2>
                <p>Dr Someone, Mme Another</p>
              </ion-label>
              <i class="fa-regular fa-bookmark"></i>
            </ion-item>
          </ion-list>
    </div>
</ion-content>