ion-content{--background: #f8f8f8;}
h2{padding: 0 20px;}
.cards{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    box-shadow: 0px 0px 15px rgba(226, 153, 153, 0.1);
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    i{
        display: block;
        color: #ff0004;
        font-size: 24px;
    }
    p{
        width: 90%;
    }
}
.card:hover{
    cursor: pointer;
    background-color: #8C0406;
    color: white;
    transition: all 0.2s ease-in-out;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    --background: none;
    background: none;
}

.note{
    margin-left: 20px;
    margin-top: 10px;
    color: #ff0004;
}